<!DOCTYPE html>
<html>


<!-- Mirrored from www.zi-han.net/theme/hplus/index_v1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--360浏览器优先以webkit内核解析-->


    <title>后台管理系统</title>

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="/areas/domain/assets/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/areas/domain/assets/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="/areas/domain/assets/css/animate.min.css" rel="stylesheet">
    <link href="/areas/domain/assets/css/style.min862f.css?v=4.1.0" rel="stylesheet">


</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        @RenderBody()
    </div>
    <script src="/areas/domain/assets/js/jquery.min.js?v=2.1.4"></script>
    <script src="/areas/domain/assets/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/areas/domain/assets/js/plugins/layer/layer.min.js"></script>
    <script src="/areas/domain/assets/js/content.min.js"></script>
    <script src="/areas/domain/assets/js/welcome.min.js"></script>
</body>
</html>